{:source-paths ["webapp/src" "webapp/test"]
 :dependencies [[reagent "0.10.0"]]
 :builds {:dev {:target :browser
                        :autoload true
                        :output-dir "webapp/assets/js"
                        :asset-path "webapp/assets"
                        :devtools {:http-port 8080 :http-root  "webapp/assets"}      
                        :modules {:main {:init-fn presentation.the-controller/main}}}
          :test {:target :browser-test
                 :test-dir "testrun"
                 :devtools {:http-port 8181 :http-root "testrun"}}}}
